.git
.venv
.mypy_cache
__pycache__
*.pyc
api_key
exp
dist
data
docs
exact
matcha_dl
tests
tools
slurm-*.out
slurm-*.err

explanations_visualizer/.next
explanations_visualizer/node_modules
explanations_visualizer/out

deploy/render/study_bundles/*
!deploy/render/study_bundles/omim-ordo
!deploy/render/study_bundles/omim-ordo/**
