*.jar
*.DS_Store
*.pyc

# Matcha folder

/matcha_dl/impl/matcha/matcha/*
!/matcha_dl/impl/matcha/matcha/*.py

# Data folder

/data/*
!/data/*.py

# Experiments folder

/exp/*

# Ignore dist folder

/dist/*

# Ignore mypy cache

/.mypy_cache/*