*.jar
*.DS_Store
*.pyc

# Matcha folder

/matcha_dl/impl/matcha/matcha/*
!/matcha_dl/impl/matcha/matcha/*.py

# Test Data

/tests/test_data/*
/tests/ncit-doid/*

# Ignore dist folder

/dist/*

# Ignore mypy cache

/.mypy_cache/*